<!DOCTYPE html>

<html>
    <head>
        <Title>{{title}}</Title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/IMG-20150307-WA0005.jpg">
        </div>
        {{>footer}}
    </body>
</html>